<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

<bean class="com.Employee" id="emp1" scope="prototype"></bean>

<bean class="com.Employee" id="emp2" scope="singleton"></bean>


<bean class="com.Employee" id="emp3">
	<constructor-arg value="100"></constructor-arg>
	<constructor-arg value="Steven"></constructor-arg>
	<constructor-arg value="45000"></constructor-arg>
</bean>

<bean class="com.Employee" id="emp4">
	<property name="id" value="101"></property>
	<property name="name" value="Lex"></property>
	<property name="salary" value="48000"></property>
</bean>



<bean class="com.Address" id="add">
	<property name="state" value="Texas"></property>
	<property name="city" value="Austin"></property>
</bean>

<bean class="com.Address" id="add123">
	<property name="state" value="California"></property>
	<property name="city" value="San Diego"></property>
</bean>
<bean class="com.Employee" id="emp5">
	<property name="id" value="102"></property>
	<property name="name" value="John"></property>
	<property name="salary" value="55000"></property>
	<property name="add" ref="add1"></property>
</bean>
<bean class="com.Employee" id="emp6" autowire="byType">
	<property name="id" value="103"></property>
	<property name="name" value="Lex"></property>
	<property name="salary" value="58000"></property>
</bean>
<bean class="com.Employee" id="emp7" autowire="byName">
	<property name="id" value="105"></property>
	<property name="name" value="Raj"></property>
	<property name="salary" value="62000"></property>
</bean>

</beans>


